{{ define "edit-user-form" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Изменение клиента</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/bulma.min.css" />
  <script src="../../assets/js/awesome.min.js"></script>
</head>

<body>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Изменение клиента
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <form action="/edit-user" method="post">
            <input class="input" type="hidden" name="id" type="text" value="{{.ID}}" required>
            <div class="field">
              <label class="label">ФИО<span class="has-text-danger"> *</span></label>
              <div class="control">
                <input class="input" name="name" type="text" value="{{.Name}}" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Договор<span class="has-text-danger"> *</span></label>
              <div class="control">
                <input class="input" name="agreement" type="text" value="{{.Agreement}}" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Логин<span class="has-text-danger"> *</span></label>
              <div class="control">
                <input class="input" name="login" type="text" value="{{.Login}}" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Тариф<span class="has-text-danger"> *</span></label>
              <div class="control">
                <div class="select">
                  <select name="tariff" required>
                    <option value="{{.Tariff.ID}} {{.Tariff.Name}} {{.Tariff.Price}}" selected>{{.Tariff.Name}}
                      ({{.Tariff.Price}}р)</option>
                    <option value="1 Базовый-30 200">Базовый-30мб (200р)</option>
                    <option value="2 Базовый-30+ПубличныйIP 400">Базовый-30мб+Публичный IP (400р)</option>
                    <option value="3 Беспроводной 200">Беспроводной (200р)</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Номер телефона</label>
              <div class="control">
                <input class="input" name="phone" type="text" value="{{.Phone}}">
              </div>
            </div>
            <div class="field">
              <label class="label">Комментарий</label>
              <div class="control">
                <input class="input" name="comment" type="text" value="{{.Comment}}">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-success">
                  Изменить
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
{{ end }}