{{ define "index" }}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Панель администратора</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/my.css" />
    <script src="../../assets/js/awesome.min.js"></script>
  </head>

  <body>
    <nav class="level is-spaced has-shadow">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>100</strong> пользователей
          </p>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="text" placeholder="Найти пользователя">
            </p>
            <p class="control">
              <button class="button">
                Найти
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="level-right">
        <p class="level-item"><a href="/admin"><strong>Все</strong></a></p>
        <p class="level-item"><a href="?type=wired">Проводные</a></p>
        <p class="level-item"><a href="?type=wireless">Беспроводные</a></p>
        <p class="level-item"><a href="?type=active">Включенные</a></p>
        <p class="level-item"><a href="?type=inactive">Отключенные</a></p>
        <p class="level-item"><a class="button is-success" href="/add-user">Добавить</a></p>
        <p class="level-item"><a class="button is-warning" href="/admin-logout">Выйти</a></p>
      </div>
    </nav>
    <div class="container">
      <div class="columns">
        <div class="column is-offset-1">
          <table class="table is-hoverable">
            <thead>
              <tr>
                <th>ФИО</th>
                <th>Логин</th>
                <th>Тариф</th>
                <th>Остаток на счету</th>
              </tr>
            </thead>
            <tbody>
              {{range .Users}}
              <tr>
                <td>
                  <a href="/user-info?id={{.ID}}">{{.Name}}</a>
                </td>
                <td>
                  {{.Login}}
                </td>
                <td>
                  {{.Tariff.Name}}
                </td>
                <td>
                  <span class="level">
                    <span class="level-left">
                      <span class="level-item">
                        {{.Money}}
                      </span>
                    </span>
                    <span class="level-right">
                      <span class="level-item">
                        <a class="button is-warning is-small" href="/pay?id={{.ID}}">
                          <span class="icon is-small">
                            <i class="fas fa-hand-holding-usd"></i>
                          </span>
                        </a>
                      </span>
                    </span>
                  </span>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

</html>
{{ end }}
