{{ define "index" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Панель администратора</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/my.css" />
  <script src="../../assets/js/awesome.min.js"></script>
  <script src="../../assets/js/admin.js"></script>
</head>

<body>
  <nav class="navbar has-light-background" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field has-addons">
            <p class="control">
              <span class="select">
                <select id="select">
                  <option id="searchByName" value="name">По имени</option>
                  <option id="searchByAgreement" value="account">По договору</option>
                </select>
              </span>
            </p>
            <p class="control">
              <input id="search" class="input" type="search" placeholder="любая часть ФИО">
            </p>
            <p class="control">
              <button id="searchButton" class="button is-info">
                Найти
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-success" href="/add-user">Добавить</a>
        </div>
        <div class="navbar-item">
          <a class="button is-warning" href="/admin-logout">Выйти</a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="level has-light-background is-spaced">
    <div class="level-left">
      <div class="level-item">
        <div class="dropdown" id="dropdown">
          <div class="dropdown-trigger" id="dropdownTrigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Отображение таблицы</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="nameBox" disabled autocomplete="off">
                  ФИО
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="agreementBox">
                  Договор
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="loginBox" autocomplete="off">
                  Логин
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="expiredDateBox">
                  Дата отключения
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="ipBox">
                  Внутренний IP
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="phoneBox">
                  Телефон
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="commentBox">
                  Комментарий
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="tariffBox" autocomplete="off">
                  Тариф
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="connectionPlaceBox">
                  Точка подключения
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="balanceBox" autocomplete="off">
                  Баланс
                </label>
              </div>
              <div class="dropdown-item">
                <label class="checkbox">
                  <input type="checkbox" id="activeBox" autocomplete="off">
                  Статус
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="level-right">
      <p id="all" class="level-item"><a href="/adm">Все</a></p>
      <p id="wired" class="level-item"><a href="?type=wired">Проводные</a></p>
      <p id="wireless" class="level-item"><a href="?type=wireless">Беспроводные</a></p>
      <p id="active" class="level-item"><a href="?type=active">Включенные</a></p>
      <p id="inactive" class="level-item"><a href="?type=inactive">Отключенные</a></p>
    </div>
  </nav>
  <div class="container">
    <div class="columns">
      <div class="column">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="name invisible">ФИО</th>
              <th class="agreement invisible">Договор</th>
              <th class="login invisible">Логин</th>
              <th class="expiredDate invisible">Дата отключения</th>
              <th class="ip invisible">Внутренний IP</th>
              <th class="phone invisible">Телефон</th>
              <th class="comment invisible">Комментарий</th>
              <th class="tariff invisible">Тариф</th>
              <th class="connectionPlace invisible">Точка подключения</th>
              <th class="balance invisible">Баланс</th>
              <th class="active invisible">Статус(<span id="activeUsers" class="has-text-success"></span>;<span
                  id="inactiveUsers" class="has-text-danger"></span>)</th>
            </tr>
          </thead>
          <tbody>
            {{range .}}
            <tr>
              <td class="name invisible">
                <a href="/user-info?id={{.ID}}">{{.Name}}</a>
              </td>
              <td class="agreement invisible">
                {{.Agreement}}
              </td>
              <td class="login invisible">
                {{.Login}}
              </td>
              <td class="expiredDate invisible">
                {{if .Active}}
                {{formatTime .PaymentsEnds}}
                {{else}}
                Клиент не подключен
                {{end}}
              </td>
              <td class="ip invisible">
                {{.InIP}}
              </td>
              <td class="phone invisible">
                {{.Phone}}
              </td>
              <td class="comment invisible">
                {{.Comment}}
              </td>
              <td class="tariff invisible">
                {{.Tariff.Name}}
              </td>
              <td class="connectionPlace invisible">
                {{.ConnectionPlace}}
              </td>
              <td class="balance invisible">
                <span class="level">
                  <span class="level-right">
                    <span class="level-item">
                      {{.Money}}
                    </span>
                    <span class="level-item">
                      <a class="button is-warning is-small" href="/pay?id={{.ID}}">
                        <span class="icon is-small">
                          <i class="fas fa-ruble-sign"></i>
                        </span>
                      </a>
                    </span>
                  </span>
                </span>
              </td>
              <td class="active invisible">
                {{if .Active}}
                <span class="icon has-text-success activeUsers">
                  <i class="fas fa-user-check"></i>
                </span>
                {{else}}
                <span class="icon has-text-danger inactiveUsers">
                  <i class="fas fa-user-times"></i>
                </span>
                {{end}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
{{ end }}