{{ define "index" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Панель администратора</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/my.css" />
  <script src="../../assets/js/awesome.min.js"></script>
  <script src="../../assets/js/admin.js"></script>
</head>

<body>
  <nav class="level is-spaced has-shadow">
    <div class="level-left">
      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <input id="search" class="input" type="search" placeholder="Имя пользователя">
          </p>
          <p class="control">
            <button id="searchButton" class="button">
              Найти
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <p id="all" class="level-item"><a href="/admin">Все</a></p>
      <p id="wired" class="level-item"><a href="?type=wired">Проводные</a></p>
      <p id="wireless" class="level-item"><a href="?type=wireless">Беспроводные</a></p>
      <p id="active" class="level-item"><a href="?type=active">Включенные</a></p>
      <p id="inactive" class="level-item"><a href="?type=inactive">Отключенные</a></p>
      <p class="level-item"><a class="button is-success" href="/add-user">Добавить</a></p>
      <p class="level-item"><a class="button is-warning" href="/admin-logout">Выйти</a></p>
    </div>
  </nav>
  <div class="container">
    <div class="columns">
      <div class="column">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>ФИО</th>
              <th>Логин</th>
              <th>Тариф</th>
              <th>Баланс</th>
              <th>Статус</th>
            </tr>
          </thead>
          <tbody>
            {{range .}}
            <tr>
              <td>
                <a href="/user-info?id={{.ID}}">{{.Name}}</a>
              </td>
              <td>
                {{.Login}}
              </td>
              <td>
                {{.Tariff.Name}}
              </td>
              <td>
                <span class="level">
                  <span class="level-left">
                    <span class="level-item">
                      {{.Money}}
                    </span>
                  </span>
                  <span class="level-right">
                    <span class="level-item">
                      <a class="button is-warning is-small" href="/pay?id={{.ID}}">
                        <span class="icon is-small">
                          <i class="fas fa-ruble-sign"></i>
                        </span>
                      </a>
                    </span>
                  </span>
                </span>
              </td>
              <td>
                {{if .Active}}
                <span class="icon has-text-success">
                  <i class="fas fa-user-check"></i>
                </span>
                {{else}}
                <span class="icon has-text-danger">
                  <i class="fas fa-user-times"></i>
                </span>
                {{end}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
{{ end }}