html, body {
    height: 100%;
}

body { 
    display:flex; 
    flex-direction:column; 
}

footer {
    margin-top:auto;
}

.table td, .table th {
    border: 1px solid #f3f3f3;
}

.is-spaced {
    padding: .5rem .75rem;
}

.has-bottom-shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.has-border-top {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.invisible {
    display: none;
}

.margin-4px-right {
    margin-right: 4px;
}

.menu {
    padding: 1rem;
    border: 2px solid #f3f3f3;
    border-top: none;
    border-left: none;
    border-radius: 6px;
}

.is-active {
    background-color: #33FF33;
}

.settings-panel.settings-panel.settings-panel {
    background-color: white;
    position: fixed;
    top: 52px;
    right: 0;
    padding: 0;
    box-sizing: border-box;
    transform: translateX(100%);
}

.open:checked ~ .settings-panel {
    transform: translateX(0);
    transition: 0.35s
}

.open:not(:checked) ~ .settings-panel {
    transition: 0.35s
}

nav.navbar + section.section {
    padding: 1.5rem 1.5rem;
}

div.column > ul > li {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

div.column > ul > li {
    font-weight: 500;
}

div.column > ul > li > span {
    font-weight: 400;
}

.logo {
    color: hsl(217, 71%, 53%);
    transform: scale(1.5,1.5);
}

.clickable {
    cursor: pointer;
}

/* На всякий случай не трогал все что сверху, потому что не знаю структуру */


/* Устанавливаем ширину list item в 100% процентов блока и делаем анимацию в 0.3 сек на переход цветов */
.menu .menu-list .menu-item {
    width: 100%;
    transition: background-color .5s ease-in-out;
}
/*Если у list item есть класс active, делаем зеленый background*/
.menu .menu-list .menu-item.active{
    background-color: #23d160;
}
/*Цвет текста делаем белым, чтобы не сливался на зеленом фоне*/
.menu .menu-list .menu-item.active a{
    color: #f3f3f3;
}
/* Если на активный элемент наводим еще раз, он загорается красным, давая понять, что этот элемент мы убираем, по нажатию мыши */
.menu .menu-list .menu-item.active:hover{
    background-color: #f44336;
}
/* Т.к. у нас уже менялся цвет фона при наведении на ссылку, мы его убираем, чтобы не было конфликтов и перехода сначала на серый цвет, потом только на красный */
.menu .menu-list .menu-item.active a:hover{
    background-color: transparent;
}
/* Один из способов реализации вывода текта "удалить" при наведение на активный элемент..

Не самый необходимый элемент, но если нравится, можно оставить.. 
Он не самый грамотный, просто не хочется в js файлах грязь устраивать
*/
.menu .menu-list .menu-item.active a:hover::after{
    content:'x';
    display: block;
    float: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}


/*То же самое, только в другом виде для кнопки СМС оповещений*/
.menu .menu-list .toggle a{
    color: #f3f3f3;
}

.menu .menu-list .toggle a:hover{
    background-color: transparent;
}

.menu .menu-list .toggle{
    background-color: #f44336;
}

.menu .menu-list .toggle.active{
    background-color: #23d160;
}



