html, body {
    height: 100%;
}

body { 
    display:flex; 
    flex-direction:column; 
}

footer {
    margin-top:auto;
}

.table td, .table th {
    border: 1px solid #f3f3f3;
}

.is-spaced {
    padding: .5rem .75rem;
}

.has-bottom-shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.has-border-top {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.margin-17px {
    margin-top: 17px;
    margin-bottom: 17px; 
}

.invisible {
    display: none;
}

.margin-4px-right {
    margin-right: 4px;
}

.menu {
    padding: 1rem;
    border: 2px solid #f3f3f3;
    border-top: none;
    border-left: none;
    border-radius: 6px;
}

.is-active {
    background-color: #33FF33;
}
