.is-spaced {
    padding: .5rem .75rem;
}

.has-light-background {
    box-shadow: 0 2px 0 0 #dbdbdb;
    background-color: #f5f5f5;
    color: #363636;
}

.margin-17px {
    margin-top: 17px;
    margin-bottom: 17px; 
}

.invisible {
    display: none;
}

.margin-4px-right {
    margin-right: 4px;
}