{{ define "confirm-settings" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Подтверждение email адреса</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/my.css" />
</head>

<body>
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <p class="margin-17px">
          Ваш email адрес был успешно подтвержден. Теперь на него будут приходить уведомления об облате.
          <a href="/">Вернуться</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
{{ end }}