{{ define "index" }}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Панель клиента</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/my.css" />
    <script src="../../assets/js/awesome.min.js"></script>
  </head>

  <body>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Информация о вас
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">ФИО: </span>
          Рожков Вячеслав Игоревич
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Номер договора: </span>
          П-12313
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Тип подключения: </span>
          Проводное
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Тариф: </span>
          Базовый-30мб (300р)
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Внутренний IP: </span>
          10.1.108.100
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Внешний IP: </span>
          82.200.46.10
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Логин: </span>
          rozhkov.464@stud.asu.ru
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Дата подключения: </span>
          2019-02-13 12:39:44
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Остаток на счету: </span> 100 рублей
          <span class="field">
            <span class="control">
              <a class="button is-success" href="/pay">
                Пополнить
              </a>
            </span>
          </span>
        </p>
        <p class="is-size-4 margin-17px">
          <span class="has-text-weight-semibold">Подлючен</span>
        </p>
        <div class="field">
          <p class="control">
            <a class="button is-warning" href="/user-logout">
              Выйти
            </a>
          </p>
        </div>
      </div>
    </section>
  </body>

</html>
{{ end }}
