<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Панель администратора</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/my.css" />
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/awesome.min.js"></script>
</head>

<body>
  <nav class="navbar has-bottom-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field has-addons">
            <p class="control">
              <input id="search" class="input" type="search" placeholder="ищи">
            </p>
            <p class="control">
              <button id="searchButton" class="button is-info">
                Найти
              </button>
            </p>
          </div>
        </div>
        <div class="navbar-item">
          <a class="button is-success" href="/add-user">Добавить пользователя</a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <input class="open" id="settings" type="checkbox" hidden>
          <button class="button is-light" style="width: 36px; height: 36px; padding: 0;">
            <label for="settings">
              <span class="icon" style="width: 36px; height: 36px;">
                <i class="fas fa-cog"></i>
              </span>
            </label>
          </button>
          <div class="settings-panel">
            <div class="menu">
              <p class="menu-label">
                Что показывать в таблице
              </p>
              <ul class="menu-list">
                <li><a>ФИО</a></li>
                <li><a>Договор</a></li>
                <li><a>Логин</a></li>
                <li><a>Дата отключения</a></li>
                <li><a>Внутренний IP</a></li>
                <li><a>Телефон</a></li>
                <li><a>Комната</a></li>
                <li><a>Тариф</a></li>
                <li><a>Точка подключения</a></li>
                <li><a>Баланс</a></li>
                <li><a>Статус</a></li>
              </ul>
              <p class="menu-label">
                СМС оповещения
              </p>
              <ul class="menu-list">
                <li><a class="toggle">Выкл</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <a class="button is-warning" href="/logout">Выйти</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="columns">
    <div class="column">
      <div class="container is-fluid">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="name">ФИО</th>
              <th class="agreement">Договор</th>
              <th class="login">Логин</th>
              <th class="expiredDate">Дата отключения</th>
              <th class="ip">Внутренний IP</th>
              <th class="phone">Телефон</th>
              <th class="room">Комната</th>
              <th class="tariff">Тариф</th>
              <th class="connectionPlace">Точка подключения</th>
              <th class="balance">Баланс</th>
              <th class="active">Статус</th>
            </tr>
          </thead>
          <tbody id="tbody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Здесь располагается богатая информация по поводу собранных средств со студентов за услуги интернета, который мы
        им предоставляем.</p>
    </div>
  </footer>
</body>

</html>