<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Изменение пользователя</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/my.css" />
    <script src="../assets/js/awesome.min.js"></script>
    <script type="module" src="../assets/js/edit-user.js"></script>
  </head>

  <body>
    <nav class="navbar has-bottom-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <a class="logo" href="/">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <h3 class="title is-size-4">Изменение пользователя</h3>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-warning" href="/logout">Выйти</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="columns">
        <div class="column is-6">
          <form action="/edit-user" method="post">
            <input type="hidden" name="id" />
            <div>ФИО: <input class="input" type="text" name="name" maxlength="40" required /></div>
            <div>Договор: <input class="input" type="text" name="agreement" maxlength="6" required /></div>
            <div>
              Сотрудник университета:<input type="radio" name="isEmployee" value="false" checked />Нет<input
                type="radio"
                name="isEmployee"
                value="true"
              />Да
            </div>
            <div>Логин: <input class="input" type="text" name="login" maxlength="45" /></div>
            <div>Мак адрес: <input class="input" type="text" name="mac" maxlength="20" /></div>
            <div>
              Тариф:
              <span class="control select"
                ><select name="tariff" required>
                  <option value="1" selected>Базовый (200р)</option>
                </select></span
              >
            </div>
            <div>Телефон: <input class="input" type="tel" name="phone" maxlength="12" /></div>
            <div>Комната: <input class="input" type="text" name="room" maxlength="14" /></div>
            <div>Точка подключения: <input class="input" type="text" name="connectionPlace" maxlength="17" /></div>
            <div>Дата заключения договора: <input class="input" type="date" name="agreementConclusionDate" /></div>
            <div>Дата следующей оплаты: <input class="input" type="date" name="expiredDate" /></div>
            <div>Комментарий: <input class="input" type="text" name="comment" maxlength="50" /></div>

            <div class="field is-grouped">
              <div class="control">
                <input type="submit" class="button is-success" value="Изменить" />
              </div>
              <div class="control">
                <a id="cancelButton" class="button" href="/user?id=">Отменить</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
